
*.xcworkspacedata

*.xcuserstate

*.xcscheme

SVGRasterizer.xcodeproj/xcuserdata/razvanpascalau.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcscmblueprint

SVGRasterizer.xcodeproj/xcuserdata/razvanpascalau.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

CMakeFiles
CMakeCache.txt
CMakeScripts
cmake_install.cmake
