[submodule "thirdparty/EnumBitMask"]
	path = thirdparty/EnumBitMask
	url = https://github.com/RazvanPascalau/EnumBitMask.git
[submodule "thirdparty/GSL"]
	path = thirdparty/GSL
	url = https://github.com/Microsoft/GSL
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
