
[submodule "libs/GSL"]
	path = libs/GSL
	url = https://github.com/Microsoft/GSL
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml
	branch = master
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "libs/catch"]
	path = libs/catch
	url = https://github.com/philsquared/Catch.git
